---
import { dissectPathname } from "../shenanigans/routing";

const chapter = ["Computer", "IoT", "RAS", "SSIT", "IAS", "EMB"];
const { text } = Astro.props;
let { fullAstroPathname } = dissectPathname(Astro.url.pathname);
---

<script>
  document.querySelectorAll("#ChapterFilter a").forEach((chapElm) =>
    chapElm.addEventListener("click", (e) => {
      e.preventDefault();
      const searchParams = new URLSearchParams(window.location.search);
      searchParams.set("chapter", e.target.dataset.chaptername);
      console.log(document.getElementById("Filter").dataset.pathname +
        "?" +
        searchParams.toString())
      window.location.href =
        document.getElementById("Filter").dataset.pathname +
        "?" +
        searchParams.toString();
    })
  );

  document.querySelectorAll("#TypeFilter a").forEach((typeElm) =>
    typeElm.addEventListener("click", (e) => {
      e.preventDefault();
      const searchParams = new URLSearchParams(window.location.search);
      searchParams.set("type", e.target.dataset.typename);
      window.location.href =
        document.getElementById("Filter").dataset.pathname +
        "?" + searchParams.toString();
    })
  );
</script>

<div id="Filter" class="Container" data-pathname={fullAstroPathname}>
  <header>
    <strong class="Post-caption">{text[0]}</strong>
  </header>
  <div>
    <div id="ChapterFilter">
      <h1 class="Subtitile">{text[1]}</h1>
      {
        chapter.map((chaptername) => (
          <ul>
            <li class="li">
              <a
                class="li"
                data-chaptername={chaptername}
                href=""
              >
                {chaptername}
              </a>
            </li>
          </ul>
        ))
      }
    </div>
    <div id="TypeFilter">
      <h1 class="Subtitile">{text[2]}</h1>
          <ul>
            <li>
              <a
                class="li"
                data-typename={text[3]}
                href=""
              >
                {text[3]}
              </a>
            </li>
            <li>
              <a
                class="li"
                data-typename={text[4]}
                href=""
              >
                {text[4]}
              </a>
            </li>
          </ul>
    </div>
  </div>
</div>

<style>
  #Filter {
    background-color: #ffffff;
  }

  .Post-caption {
    color: #333333;
    font-weight: bold;
    font-size: 50px;
  }
  .Subtitile {
    margin-left: 10px;
    color: #727272;
    font-size: 20px;
    font-weight: bold;
  }
  .li {
    color: #333333;
    font-weight: bold;
    font-size: 15px;
  }

  body {
    background-color: #f3f3f3;
  }
</style>
