---
import "./ArticlePreview.css";
import { Icon } from "astro-icon";

const { author, img, title, society, type, href, views = 0 } = Astro.props;
---

		<div id="Posts">
				<article class="Post Container">
					{/* Imagen Enfocada de Flora.css */}
					<div class="Img Notext"
						style={{backgroundImage: `url(${img})`}}
						>
							{/* <img> por dentro (por temas de accesibilidad) */}
							<img alt={`Image for article ${title} by ${views}`}/>
					</div>

					<div class="Post-user">
						<div class="Post-user-profilepicture">
							<Icon name="ph:user-circle" width="24px"/>
						</div>

						<div class="Post-user-nickname">
							<span>{author}</span>
						</div>
						<span>|</span>
						<div class="Post-chapter">
							<span>{society}</span>
						</div>
						
						<div class="Badge" style={{
							backgroundColor: type == 'Blog' ? '#009999' : 'var(--theme-main)'
						}}>{type}
						</div>
					</div>
					<div>
						<div class="Cont">
							<div class="Post-caption">
                <a class="a" href= {`posts/${href}`}>
								<h1>{title}</h1>
                  </a>
							</div>
							<div class="Post-w">
								<Icon name="ph:eyeglasses" width="24px" style={{paddingRight: '5px'}}/>
								<strong>{views ? views : 0}</strong>

							</div>
						</div>
					</div>
				</article>
		</div>